<ion-tabs>
  <router-outlet></router-outlet>

  <ion-tab-bar slot="bottom" class="glass-tabbar">
    <ion-tab-button tab="sleep" [routerLink]="['/tabs/sleep']" class="glass-tab">
      <ion-icon name="moon-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="sleepiness" [routerLink]="['/tabs/sleepiness']" class="glass-tab">
      <ion-icon name="cloud-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="logs" [routerLink]="['/tabs/logs']" class="glass-tab">
      <ion-icon name="list-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>